/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2017, 5:50:23 PM
    Author     : juanchox
*/
/**/
/*Fileviewer*/
/**/
@media only screen and (max-width: 816px) {
    .fileviewer .fileviewer-info-icons {
        display: none;
    }
    .fileviewer .fileviewer-info-btns {
        display: inline;
    }
}
@media only screen and (min-width: 815px) {
    .fileviewer .fileviewer-info-btns {
        display: none;
    }
}
@media only screen and (orientation: pr) {
    body {
        background-color: lightblue;
    }
}

.fileviewer .fileviewer-listItems{
    list-style: none;
}
.fileviewer .fileviewer-info-icons label{
    margin-left: 1em;
    cursor: pointer;
}
.fileviewer .fileviewer-option-icon{
    cursor: pointer;
}
.fileviewer .fileviewer-option-icon i{
    cursor: pointer;
}
.fileviewer .iconSelected{
    border: 1px solid #c3c3c3;
} 