.div_stakeholder{
    width: 10em;
    height: 10em;
    margin: auto;
    background-color: #cacaca;
}
.message-block{
}
.error{ 
    color: red;
}
.errorLabel{
    color: red;
}

.makeMeVisible{
    display: block;
}
.makeMeInvisible{
    display: none;
}